<div class="page-header"><h2><%= Field.model_name.human %></h2></div>
<table id="fields" class="table">
  <thead>
    <tr>
      <%= th_for Field, :name, :type, :required, :multiple, :options %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= f.simple_fields_for :fields, wrapper: false do |ff| %>
      <tr class="fields">
        <td><%= ff.input_field :name, label: false %></td>
        <td><%= ff.input_field :type, label: false, include_blank: false %></td>
        <td><%= ff.input_field :required, label: false %></td>
        <td><%= ff.input_field :multiple, label: false %></td>
        <td><%= ff.input_field :options, label: false %></td>
        <td><%= ff.link_to_remove content_tag(:span, nil, class: 'glyphicon glyphicon-trash') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= f.link_to_add content_tag(:span, nil, class: 'glyphicon glyphicon-plus'), :fields, class: 'btn btn-xs btn-success', data: {target: '#fields'} %>